nav {
  ul {
    display: flex;
    padding: 0;
    ol {
      a {
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
      }
      a[aria-current='page'] {
        background-color: blue;
        color: white;
      }
      a:hover {
        background-color: red;
        color: white;
      }
    }
    ol:has(> a) {
      padding: 0;
    }
  }
}
